{% extends "base.html" %}
{% load static %}
{% block title %}Contact Us{% endblock title %}
{% block content %}
<!-- BREADCRUMB AREA START -->
<div class="ltn__breadcrumb-area text-left bg-overlay-white-30 bg-image mb-0" data-bs-bg="{% static "img/bg/11.png" %}" style="background-image: url({% static "img/bg/14.jpg" %});">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__breadcrumb-inner">
                        <h1 class="page-title text-white">Contact</h1>
                        <div class="ltn__breadcrumb-list">
                            <ul>
                                <li><a href="{% url "home" %}"><span class="text-white"><i class="fas fa-home"></i></span> Home</a></li>
                                <li class="text-white">contact us</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- BREADCRUMB AREA END -->
 <!-- CONTACT ADDRESS AREA START -->
 <div class="ltn__contact-address-area mb-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="ltn__contact-address-item ltn__contact-address-item-3 box-shadow">
                        <div class="ltn__contact-address-icon">
                            <img src="{% static "img/icons/10.png" %}" alt="Icon Image">
                        </div>
                        <h3>Email Address</h3>
                        <p>{{ about_us.contact_email }}<br>
                            {{ about_us.support_email }}</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ltn__contact-address-item ltn__contact-address-item-3 box-shadow">
                        <div class="ltn__contact-address-icon">
                            <img src="{% static "img/icons/11.png" %}" alt="Icon Image">
                        </div>
                        <h3>Phone Number</h3>
                        <p>{{ about_us.contact_number }} <br> {{ about_us.support_number }}</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ltn__contact-address-item ltn__contact-address-item-3 box-shadow">
                        <div class="ltn__contact-address-icon">
                            <img src="{% static "img/icons/12.png" %}" alt="Icon Image">
                        </div>
                        <h3>Office Address</h3>
                        <p>{{ about_us.office_address}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CONTACT ADDRESS AREA END -->
     <!-- CONTACT MESSAGE AREA START -->
     <div class="ltn__contact-message-area mb-120 mb--100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__form-box contact-form-box box-shadow white-bg">
                        <h4 class="title-2">Get A Quote</h4>
                        <form id="contact-form" action="{% url "submit-contact" %}" method="post">
                           {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-item input-item-name ltn__custom-icon">
                                        <input required type="text" name="name" placeholder="Enter your name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-item input-item-email ltn__custom-icon">
                                        <input required type="email" name="email" placeholder="Enter email address">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-item">
                                        <select required class="nice-select" name="service">
                                            <option>Select Subject</option>
                                            <option>Chemical Drawings </option>
                                            <option>Flow Chart</option>
                                            <option>Screenshot</option>
                                            <option>Graph</option>
                                            <option>Utility Drawings</option>
                                            <option>Mechanical</option>
                                            <option>Electric Circuit Drawings</option>
                                            <option>Graph</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-item input-item-phone ltn__custom-icon">
                                        <input required type="text" name="phone" placeholder="Enter phone number">
                                    </div>
                                </div>
                            </div>
                            <div class="input-item input-item-textarea ltn__custom-icon">
                                <textarea required name="message" placeholder="Enter message"></textarea>
                            </div>
                            <div class="btn-wrapper mt-0">
                                <button class="btn theme-btn-1 btn-effect-1 text-uppercase" type="submit">SUBMIT</button>
                            </div>
                            <p class="form-messege mb-0 mt-20"></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CONTACT MESSAGE AREA END -->
    

    <!-- GOOGLE MAP AREA START -->
    <div class="google-map mb-120">
       
    <iframe src="{{ about_us.map_url }}" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>
    <!-- GOOGLE MAP AREA END -->
     
{% endblock content %}