{% extends "base.html" %}
{% load static %}
{% block title %}Career{% endblock title %}
{% block content %}
    <!-- BREADCRUMB AREA START -->
    <div class="ltn__breadcrumb-area text-left bg-overlay-white-30 bg-image mb-0" data-bs-bg="{% static "img/slider/11.jpg" %}" style="background-image: url({% static "img/bg/14.jpg" %});">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__breadcrumb-inner">
                        <h1 class="page-title text-white">careers</h1>
                        <div class="ltn__breadcrumb-list">
                            <ul>
                                <li><a href="index.php"><span class="text-white"><i class="fas fa-home"></i></span> Home</a></li>
                                <li class="text-white">careers</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- BREADCRUMB AREA END -->
            <div class="container">
                <h2 class="text-center pt-3">Careers</h2>
                <div class="container">
                    <div class="row">
                        {% for job in jobs %}
                        <div class="col-lg-6">
                            <div class="ltn__product-item ltn__product-item-4 ltn__product-item-5">
                                <div class="product-info">
                                    <div class="product-badge-price">
                                        <div class="product-badge">
                                            <ul><li class="sale-badg">Hiring</li></ul>
                                        </div>
                                        <div class="product-price">
                                            <span>{{ job.posted_on }}<label> </label></span>
                                        </div>
                                    </div>
                                    <h2 class="product-title">{{ job.job_title }}</h2>
                                    <div class="product-img-location">
                                        <p>{{ job.job_description }}</p>
                                    </div>
                                    <ul class="ltn__list-item-2--- ltn__list-item-2-before--- ltn__plot-brief">
                                        <li><span><i class="flaticon-pin"></i></span>{{ job.location }}</li>
                                        <li><span><i class="fa-suitcase"></i> </span>{{ job.experience }} Experiance</li>
                                        <li><span><i class="fa-suitcase"></i></span>Not Disclosure</li>
                                    </ul>
                                    <a data-bs-toggle="modal" onclick="set_job_id('{{ job.id }}')" data-bs-target="#exampleModal" href="#">Apply Now</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        
                        
                    </div>
                </div>
            </div>
    
{% endblock content %}
