{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title%}{% endblock %}</title>
    <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title> Curvonix</title>
        <meta name="robots" content="noindex, follow" />
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="keywords" content="Curvonix" />
		<meta name="description" content="Curvonix" />
		<meta name="author" content="" />
		<meta name="description" content="Curvonix"/>
		<meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large"/>
		<link rel="canonical" href="https://Curvonix.com/" />
		<meta property="og:locale" content="en_US">
		<meta property="og:type" content="website">
		<meta property="og:title" content="Curvonix">
		<meta property="og:description" content="Curvonix">
		<meta property="og:url" content="https://Curvonix.com/">
		<meta property="og:site_name" content="Curvonix">
		<meta property="og:updated_time" content="2021-04-13T14:03:56+00:00">
		<meta property="og:image" content="img/thumbnail-logo.jpg">
		<meta property="og:image:secure_url" content="img/thumbnail-logo.jpg">
		<meta property="og:image:width" content="521">
		<meta property="og:image:height" content="210">
		<meta property="og:image:alt" content="Homepage">
		<meta property="og:image:type" content="image/png">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="Homepage - Curvonix">
		<meta name="twitter:description" content="Curvonix">
		<meta name="twitter:image" content="img/thumbnail-logo.jpg">
        <link rel="shortcut icon" href="{% static "img/favicon.png" %}" type="image/x-icon" />
        <link rel="stylesheet" href="{% static "css/font-icons.css" %}">
        <link rel="stylesheet" href="{% static "css/plugins.css" %}">
        <link rel="stylesheet" href="{% static "css/style.css" %}">
        <link rel="stylesheet" href="{% static "css/responsive.css" %}">
</head>
<body>
    <div class="body-wrapper">
        <header class="ltn__header-area ltn__header-5 ltn__header-logo-and-mobile-menu-in-mobile ltn__header-logo-and-mobile-menu ltn__header-transparent--- gradient-color-4---">
            <div class="ltn__header-top-area section-bg-6">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="ltn__top-bar-menu">
                                <ul>
                                    <li><a href="mailto:info@webmail.com?Subject=Flower%20greetings%20to%20you"><i class="icon-mail"></i> info@curvonix.com</a></li>
                                    <li><a href="#"><i class="icon-placeholder"></i> VIP Road, Visakhapatnam</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="top-bar-right text-end">
                                <div class="ltn__top-bar-menu">
                                    <ul>
                                        <li>
                                            <!-- ltn__social-media -->
                                            <div class="ltn__social-media">
                                                <ul>
                                                    <li><a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                                                    <li><a href="#" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                                                    
                                                    <li><a href="#" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ltn__header-middle-area ltn__header-sticky ltn__sticky-bg-white ">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="site-logo-wrap">
                                <div class="site-logo">
                                    <a href="index.php"><img src="{% static "img/logo.png" %}" alt="Logo"></a>
                                </div>
                                <div class="get-support clearfix d-none">
                                    <div class="get-support-icon">
                                        <i class="icon-call"></i>
                                    </div>
                                    <div class="get-support-info">
                                        <h6>Get Support</h6>
                                        <h4><a href="tel:+123456789">123-456-789-10</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col header-menu-column ">
                            <div class="header-menu">
                                <nav>
                                    <div class="ltn__main-menu">
                                        <ul>
                                            <li><a href="index.php">Home</a></li>
                                            <li><a href="{% url "about-us" %}">About</a></li>
                                            <li><a href="{% url "service-list" %}">Services</a></li>
                                            <li><a href="careers.php">Careers</a></li>
                                            <li><a href="contact.php">Contact us</a></li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>
                        <div class="col--- ltn__header-options ltn__header-options-2">
                            <!-- Mobile Menu Button -->
                            <span class="side-menu__toggler" data-toggle="collapse" onclick="openNav()"><i class="fa fa-bars"></i></span>
                            <div id="mySidenav" class="sidenav block-overlay ">
                                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                                <li><a href=" index.php" class="page-scroll" onclick="closeNav()"> Home</a></li>
                                <li><a href=" about.php" class="page-scroll" onclick="closeNav()">About </a></li>
                                <li><a href="{% url "service-list" %}" class="page-scroll" onclick="closeNav()">Services</a></li>
                                <li><a href=" careers.php" class="page-scroll" onclick="closeNav()">Careers </a></li>
                                <li><a href="contact.php" class="page-scroll" onclick="closeNav()">Contact Us </a></li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    <!-- HEADER AREA END -->
    {% block content %}
    {% endblock %}

    <footer class="ltn__footer-area  ">
        <div class="footer-top-area  section-bg-2 plr--5">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget footer-about-widget">
                            <div class="footer-logo">
                                <div class="site-logo">
                                    <img src="{% static "img/logo-2.png" %}" alt="Logo">
                                </div>
                            </div>
                            <p>CURVONIX goal is to offer quality patent drawings service, in a timely manner, and at a reasonable cost to the inventers. CURVONIX is a full service patent Illustration company located in INDIA that serves companies and patent law firms across the US. You will learn that our draftsman have outstanding illustration skills and expertise in the latest illustration technology.</p>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget footer-menu-widget clearfix">
                            <h4 class="footer-title">Quick Links</h4>
                            <div class="footer-menu">
                                <ul>
                                    <li><a href="index.php">Home</a></li>
                                    <li><a href="about.php">About</a></li>
                                    <li><a href="{% url "service-list" %}">Services</a></li>
                                    <li><a href="careers.php">Careers</a></li>
                                    <li><a href="contact.php">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget footer-menu-widget clearfix">
                            <h4 class="footer-title">Services</h4>
                            <div class="footer-menu">
                                <ul>
                                    <li><a href="services.php">Flow Charts</a></li>
                                    <li><a href="services.php">Flow Daigram</a></li>
                                    <li><a href="services.php">Screenshots</a></li>
                                    <li><a href="services.php">Graphs</a></li>
                                    <li><a href="services.php">Utility Drawing</a></li>
                                    <li><a href="services.php">Electrical Circuit Drawings</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget footer-menu-widget clearfix">
                            <h4 class="footer-title">Customer Care</h4>
                            <div class="footer-address">
                                <ul>
                                    <li>
                                        <div class="footer-address-icon">
                                            <i class="icon-placeholder"></i>
                                        </div>
                                        <div class="footer-address-info">
                                            <p>Dwaraka Nagar, Visakhapatnam</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-address-icon">
                                            <i class="icon-call"></i>
                                        </div>
                                        <div class="footer-address-info">
                                            <p><a href="tel:+0123-456789">+0123-456789</a></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-address-icon">
                                            <i class="icon-mail"></i>
                                        </div>
                                        <div class="footer-address-info">
                                            <p><a href="mailto:example@example.com">curvonix@gmail.com</a></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="ltn__social-media mt-20">
                                <ul>
                                    <li><a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
                                    <li><a href="#" title="Youtube"><i class="fab fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ltn__copyright-area ltn__copyright-2 section-bg-7  plr--5">
            <div class="container-fluid ltn__border-top-2">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="ltn__copyright-design clearfix">
                            <p>All Rights Reserved @Curvonix <span class="current-year"></span></p>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 align-self-center">
                        <div class="ltn__copyright-menu text-end">
                            <p>Design and Developed by <a href="#">Colourmoon</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- FOOTER AREA END -->
</div>
<!-- Body main wrapper end -->
    <!-- preloader area start -->
    <div class="preloader d-none" id="preloader">
        <div class="preloader-inner">
            <div class="spinner">
                <div class="dot1"></div>
                <div class="dot2"></div>
            </div>
        </div>
    </div>

    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Fill The Application</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Full Name</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter your name">
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Phone Number</label>
        <input type="tel" class="form-control" id="exampleFormControlInput1" placeholder="Enter your phone number">
      </div>

 

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Upload Your Resume</label>
        <input type="file" class="form-control" id="exampleFormControlInput1" placeholder="upload resume">
      </div>

      <div class="modal-footer">
        <button class="submit-button-3">Submit</button>
      </div>
    </div>
  </div>
</div>
   
    <script src="{% static "js/plugins.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>
    <script>
        function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        }
        function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        }
    </script>
</body>
</html>